/*Barra de navegación*/
@media(max-width: 950px){
    .header label{
        display: initial;
    }

    .header{
        padding: 20px 10%;
    }

    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }

    .header .navigation ul li{
        width: 100%;
    }

    .header .navigation ul li a{
        padding:  8px 30px 8px 10%;
    }

    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0%;
    }

    .header .navigation ul li ul li{
        background-color: rgba(1, 1, 1, 0.7);
    }

    .header .navigation ul li ul li{
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked ~ .navigation{
        display: block;
    }
}

/* ////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  INICIO                       ////////// ////////// //////////      */
@media (max-width: 576px) {
    .hero {
        margin-top: 25%;

        & #titulo {
            font-size: 3rem;
        }
    
        & #subtitle {
            font-size: 1.5rem;
        }
    
        & p{
            font-size: 18px;
        }
    
        & #concept {
            & img {
                width: 90%;
                margin-bottom: 60%;
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .hero {
        margin-top: 20%;

        & #titulo {
            font-size: 3rem;
        }
    
        & #subtitle {
            font-size: 1.5rem;
        }
    
        & p{
            font-size: 18px;
        }
    
        & #concept {
            & img {
                width: 90%;
                margin-bottom: 60%;
            }
        }
    }
}

/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        margin-top: 15%;

        & #titulo {
            font-size: 3rem;
        }
    
        & #subtitle {
            font-size: 2rem;
        }
    
        & p{
            font-size: 18px;
        }
    
        & #concept {
            & img {
                width: 30%;
                margin-bottom: 60%;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        margin-top: 8%;

        & #titulo {
            font-size: 4rem;
        }
    
        & #subtitle {
            font-size: 2.6rem;
        }
    
        & p{
            font-size: 20px;
        }
    
        & #concept {
            & img {
                width: 50%;
                margin-bottom: 60%;
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) {
    .hero {
        margin: 7%;

        & #titulo {
            font-size: 5rem;
        }
    
        & #subtitle {
            font-size: 2.6rem;
        }

        & p{
            font-size: 20px;
        }
    
        & #concept img {
            width: 40%;
            margin-bottom: 20%;
        }
    }
}




/* ////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  HISTORIA                       ////////// ////////// //////////      */
@media (max-width: 576px) {
    .historia{
        margin-top: 28%;

        & .title-historia{
            font-size: 3rem;
        }
    
        & p{
            font-size: 15px;
        }

        & .video-history{
            width: 95%;
        }
    
        & .dato{
    
            & h2{
                font-size: 2.5rem;
            }
    
            & h3{
                font-size: 1.6rem;
            }
    
            & p{
                font-size: 16px;
            }
    
            & div{
    
                & img{
                    width: 80%;
                }
            }
        }

        & .dato2{
    
            & h2{
                font-size: 2.5rem;
            }
    
            & h3{
                font-size: 1.6rem;
            }
    
            & p{
                font-size: 16px;
            }
    
            & div{
    
                & img{
                    width: 80%;
                }
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .historia{
        margin-top: 22%;

        & .title-historia{
            font-size: 2.8rem;
        }
    
        & p{
            font-size: 15px;
        }

        & .video-history{
            width: 95%;
        }
    
        & .dato{
    
            & h2{
                font-size: 2.5rem;
            }
    
            & h3{
                font-size: 1.6rem;
            }
    
            & p{
                font-size: 16px;
            }
    
            & div{
    
                & img{
                    width: 60%;
                }
            }
        }

        & .dato2{
    
            & h2{
                font-size: 2.5rem;
            }
    
            & h3{
                font-size: 1.6rem;
            }
    
            & p{
                font-size: 16px;
            }
    
            & div{
    
                & img{
                    width: 60%;
                }
            }
        }
    }
}

/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .historia{
        margin-top: 20%;

        & .title-historia{
            font-size: 3rem;
        }
    
        & p{
            font-size: 18px;
        }

        & .video-history{
            width: 95%;
        }
    
        & .dato{
    
            & h2{
                font-size: 2.5rem;
            }
    
            & h3{
                font-size: 1.6rem;
            }
    
            & p{
                font-size: 16px;
            }
    
            & div{
    
                & img{
                    width: 65%;
                }
            }
        }

        & .dato2{
    
            & h2{
                font-size: 2.5rem;
            }
    
            & h3{
                font-size: 1.6rem;
            }
    
            & p{
                font-size: 16px;
            }
    
            & div{
    
                & img{
                    width: 65%;
                }
            }
        }
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .historia{
        margin-top: 7%;

        & .title-historia{
            font-size: 3rem;
        }
    
        & p{
            font-size: 17px;
        }

        & .video-history{
            width: 60%;
        }
    
        & .dato{
    
            & h2{
                font-size: 2.7rem;
            }
    
            & h3{
                font-size: 1.8rem;
            }
    
            & p{
                font-size: 18px;
            }
    
            & div{
    
                & img{
                    width: 40%;
                }
            }
        }

        & .dato2{
    
            & h2{
                font-size: 2.7rem;
            }
    
            & h3{
                font-size: 1.8rem;
            }
    
            & p{
                font-size: 18px;
            }
    
            & div{
    
                & img{
                    width: 40%;
                }
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px){
    .historia{
        margin-top: 7%;
        margin-bottom: 5%;

        & .title-historia{
            font-size: 5rem;
        }
    
        & p{
            font-size: 20px;
        }

        & .video-history{
            width: 50%;
        }
    
        & .dato{
    
            & h2{
                font-size: 2.5rem;
            }
    
            & h3{
                font-size: 1.6rem;
            }
    
            & p{
                font-size: 20px;
            }
    
            & div{
    
                & img{
                    width: 50%;
                }
            }
        }

        & .dato2{
    
            & h2{
                font-size: 2.5rem;
            }
    
            & h3{
                font-size: 1.6rem;
            }
    
            & p{
                font-size: 20px;
            }
    
            & div{
    
                & img{
                    width: 50%;
                }
            }
        }
    }
}






/* ////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  IA DEBILES                      ////////// ////////// //////////      */
@media (max-width: 576px) {
    .ia-debil{
        margin-top: 24%;

        & .title-debil{
            & h2{
                font-size: 2.3rem;
            }
        }

        & .content-debil{
            display: flex;
            flex-direction: column;

            & p{
                font-size: 15px;
                margin-bottom: 1.5rem;
            }
            & img{
                width: 50%;
                margin-bottom: 33%;
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .ia-debil{
        margin: 15% 18%;

        & .title-debil{
            & h2{
                font-size: 1.8rem;
            }
        }

        & .content-debil{
            display: flex;
            flex-direction: column;

            & p{
                font-size: 18px;
                margin-bottom: 1.5rem;
            }
            & img{
                width: 60%;
                margin-bottom: 35%;
            }
        }
    }
}



/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .ia-debil{
        margin: 15% 6%;

        & .title-debil{
            & h2{
                font-size: 2.5rem;
                
            }
        }

        & .content-debil{
            display: flex;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 18px;
                margin-bottom: 1.5rem;
            }
            & img{
                width: 40%;
                margin-bottom: 8%;
            }
        }
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .ia-debil{
        margin-top: 8%;

        & .title-debil{
            & h2{
                font-size: 2.5rem;
                
            }
        }

        & .content-debil{
            display: flex;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 18px;
                margin-bottom: 1.5rem;
            }
            & img{
                width: 30%;
                margin-bottom: 5%;
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) and (max-width: 1500px){
    .ia-debil{
        margin-top: 5%;

        & .title-debil{
            & h2{
                font-size: 4.3rem;
                
            }
        }

        & .content-debil{
            display: flex;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 19px;
                margin-bottom: 1.5rem;
            }
            & img{
                width: 37%;
                margin-bottom: 5%;
            }
        }
    }
}







/* ////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  IA ROBUSTAS                     ////////// ////////// //////////      */
@media (max-width: 576px) {
    .ia-robusta{
        margin-top: 25%;

        & .title-robusta{
            & h2{
                font-size: 2.3rem;
            }
        }

        & .content-robusta{
            display: flex;
            flex-direction: column;

            & p{
                font-size: 16px;
                margin-bottom: 1rem;
            }
            & img{
                width: 50%;
            }
        }
    }
    .footer{
        margin-bottom: 30%;
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .ia-robusta{
        margin: 18% 15%;

        & .title-robusta{
            & h2{
                font-size: 1.8rem;
            }
        }

        & .content-robusta{
            display: flex;
            flex-direction: column;

            & p{
                font-size: 18px;
                margin-bottom: 1.5rem;
            }
            & img{
                width: 65%;
                margin-bottom: 35%;
            }
        }
    }
}



/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .ia-robusta{
        margin: 7% 6%;

        & .title-robusta{
            & h2{
                font-size: 3.2rem;
                
            }
        }

        & .content-robusta{
            display: flex;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 17px;
                margin-bottom: 1.5rem;
            }
            & img{
                width: 30%;
                margin-bottom: 8%;
            }
        }
    }
}

@media (min-width: 820px) and (max-width: 1024px) {
    .ia-robusta{
        margin-top: 14%;

        & .title-robusta{
            & h2{
                font-size: 2.8rem;
                
            }
        }

        & .content-robusta{
            display: flex;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 18px;
                margin-bottom: 1.5rem;
            }
            & img{
                width: 30%;
                margin-bottom: 5%;
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) and (max-width: 1500px){
    .ia-robusta{
        margin-top: 5%;

        & .title-robusta{
            & h2{
                font-size: 3.6rem;
                
            }
        }

        & .content-robusta{
            display: flex;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 20px;
            }
            & img{
                width: 35%;
                margin-bottom: 5%;
            }
        }
    }
}







/*////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  EDUCATIVO                     ////////// ////////// //////////      */
@media (max-width: 576px) {
    .educativo{
        margin: 25% 5%;

        & .title-educacion{
            font-size: 1.5rem;
        }

        & #concept-edu{
            font-size: 16px;
        }

        & .list-educacion{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 16px;
                }

                & img{  
                    width: 100%;
                }
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .educativo{
        margin: 18% 5%;

        & .title-educacion{
            font-size: 2.5rem;
        }

        & #concept-edu{
            font-size: 18px;
        }

        & .list-educacion{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 100%;
                }
            }
        }
    }
}



/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .educativo{
        margin: 15% 5%;

        & .title-educacion{
            font-size: 3rem;
        }

        & #concept-edu{
            font-size: 18.2px;
        }

        & .list-educacion{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 60%;
                }
            }
        }
    }
}

@media (min-width: 820px) and (max-width: 1024px) {
    .educativo{
        margin: 13% 5%;

        & .title-educacion{
            font-size: 3rem;
        }

        & #concept-edu{
            font-size: 22px;
        }

        & .list-educacion{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 20px;
                }

                & img{  
                    width: 60%;
                }
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) and (max-width: 1500px){
    .educativo{
        margin: 7% 5%;

        & .title-educacion{
            font-size: 3.5rem;
        }

        & #concept-edu{
            font-size: 18px;
        }

        & .list-educacion{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 35%;
                }
            }
        }
    }
}


/*////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  LABORAL                     ////////// ////////// //////////      */
@media (max-width: 576px) {
    .laboral{
        margin: 25% 5%;

        & .title-laboral{
            font-size: 1.5rem;
        }

        & #concept-lab{
            font-size: 16px;
        }

        & .list-laboral{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 16px;
                }

                & img{  
                    width: 100%;
                }
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .laboral{
        margin: 18% 5%;

        & .title-laboral{
            font-size: 2.5rem;
        }

        & #concept-lab{
            font-size: 18px;
        }

        & .list-laboral{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 100%;
                }
            }
        }
    }
}



/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .laboral{
        margin: 15% 5%;

        & .title-laboral{
            font-size: 3rem;
        }

        & #concept-lab{
            font-size: 18.2px;
        }

        & .list-laboral{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 60%;
                }
            }
        }
    }
}

@media (min-width: 820px) and (max-width: 1024px) {
    .laboral{
        margin: 13% 5%;

        & .title-laboral{
            font-size: 3rem;
        }

        & #concept-lab{
            font-size: 22px;
        }

        & .list-laboral{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 20px;
                }

                & img{  
                    width: 60%;
                }
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) and (max-width: 1500px){
    .laboral{
        margin: 5% 5%;

        & .title-laboral{
            font-size: 3.5rem;
        }

        & #concept-lab{
            font-size: 18px;
        }

        & .list-laboral{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 35%;
                }
            }
        }
    }
}






/*////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  ENTRETENIMIENTO                     ////////// ////////// //////////      */
@media (max-width: 576px) {
    .entretenimiento{
        margin: 25% 5%;

        & .title-entre{
            font-size: 1.5rem;
        }

        & #concept-entre{
            font-size: 16px;
        }

        & .list-entre{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 16px;
                }

                & img{  
                    width: 100%;
                }
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .entretenimiento{
        margin: 18% 5%;

        & .title-entre{
            font-size: 2.5rem;
        }

        & #concept-entre{
            font-size: 18px;
        }

        & .list-entre{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 80%;
                }
            }
        }
    }
}



/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .entretenimiento{
        margin: 15% 5%;

        & .title-entre{
            font-size: 3rem;
        }

        & #concept-entre{
            font-size: 18.2px;
        }

        & .list-entre{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 60%;
                }
            }
        }
    }
}

@media (min-width: 820px) and (max-width: 1024px) {
    .entretenimiento{
        margin: 13% 5%;

        & .title-entre{
            font-size: 3rem;
        }

        & #concept-entre{
            font-size: 22px;
        }

        & .list-entre{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 20px;
                }

                & img{  
                    width: 60%;
                }
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) and (max-width: 1500px){
    .entretenimiento{
        margin: 5% 5%;

        & .title-entre{
            font-size: 3.5rem;
        }

        & #concept-ente{
            font-size: 18px;
        }

        & .list-entre{
            & div{
                margin-bottom: 2rem;
                & li{
                    list-style: none;
                    font-size: 18px;
                }

                & img{  
                    width: 35%;
                }
            }
        }
    }
}









/*////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  LENGUAJES CERRADOS                     ////////// ////////// //////////      */
@media (max-width: 576px) {
    .cod-cerrado{
        margin: 25% 5%;

        & .title-cerrado{
            font-size: 1.5rem;
        }

        & .subtitle-cerrado{
            font-size: 1rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 16px;
        }

        & #list-cerrado{
            & li{
                font-size: 16px;
            }
        }

        & .grid-cerrado{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .cerrado{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 60%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .cod-cerrado{
        margin: 18% 5%;

        & .title-cerrado{
            font-size: 2rem;
        }

        & .subtitle-cerrado{
            font-size: 1.5rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 18px;
        }

        & #list-cerrado{
            & li{
                font-size: 18px;
            }
        }

        & .grid-cerrado{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .cerrado{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 40%;
                }

                & p{
                    font-size: 15px;
                }
            }
        }
    }
}



/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .cod-cerrado{
        margin: 15% 5%;

        & .title-cerrado{
            font-size: 2.7rem;
        }

        & .subtitle-cerrado{
            font-size: 2rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 20px;
        }

        & #list-cerrado{
            & li{
                font-size: 19.5px;
            }
        }

        & .grid-cerrado{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .cerrado{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 50%;
                }

                & p{
                    font-size: 15px;
                }
            }
        }
    }
}

@media (min-width: 820px) and (max-width: 1024px) {
    .cod-cerrado{
        margin: 15% 5%;

        & .title-cerrado{
            font-size: 2.8rem;
        }

        & .subtitle-cerrado{
            font-size: 2rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 20px;
        }

        & #list-cerrado{
            & li{
                font-size: 20px;
            }
        }

        & .grid-cerrado{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .cerrado{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 15.5px;
                }
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) and (max-width: 1500px){
    .cod-cerrado{
        margin: 7% 5%;

        & .title-cerrado{
            font-size: 3.5rem;
        }

        & .subtitle-cerrado{
            font-size: 2.5rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 20px;
        }

        & #list-cerrado{
            & li{
                font-size: 18px;
            }
        }

        & .grid-cerrado{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .cerrado{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}









/*////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  LENGUAJES ABIERTOS                     ////////// ////////// //////////      */
@media (max-width: 576px) {
    .cod-abierto{
        margin: 25% 5%;

        & .title-abierto{
            font-size: 1.5rem;
        }

        & .subtitle-abierto{
            font-size: 1rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 16px;
        }

        & #list-abierto{
            & li{
                font-size: 16px;
            }
        }

        & .grid-abierto{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .abierto{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 60%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .cod-abierto{
        margin: 18% 5%;

        & .title-abierto{
            font-size: 2rem;
        }

        & .subtitle-abierto{
            font-size: 1.5rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 18px;
        }

        & #list-abierto{
            & li{
                font-size: 18px;
            }
        }

        & .grid-abierto{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .abierto{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 40%;
                }

                & p{
                    font-size: 15px;
                }
            }
        }
    }
}



/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .cod-abierto{
        margin: 15% 5%;

        & .title-abierto{
            font-size: 2.7rem;
        }

        & .subtitle-abierto{
            font-size: 2rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 20px;
        }

        & #list-abierto{
            & li{
                font-size: 19.5px;
            }
        }

        & .grid-abierto{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .abierto{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 50%;
                }

                & p{
                    font-size: 15px;
                }
            }
        }
    }
}

@media (min-width: 820px) and (max-width: 1024px) {
    .cod-abierto{
        margin: 15% 5%;

        & .title-abierto{
            font-size: 2.8rem;
        }

        & .subtitle-abierto{
            font-size: 2rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 20px;
        }

        & #list-abierto{
            & li{
                font-size: 20px;
            }
        }

        & .grid-abierto{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .abierto{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 15.5px;
                }
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) and (max-width: 1500px){
    .cod-abierto{
        margin: 7% 5%;

        & .title-abierto{
            font-size: 3.5rem;
        }

        & .subtitle-abierto{
            font-size: 2.5rem;
        }

        & #parrafo1, #parrafo2, #parrafo3{
            margin-top: 2%;
            font-size: 20px;
        }

        & #list-abierto{
            & li{
                font-size: 18px;
            }
        }

        & .grid-abierto{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .abierto{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}






/*////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  PERSONAJES DESTACADOS                     ////////// ////////// //////////      */
@media (max-width: 576px) {
    .personajes-ia{
        margin: 25% 5%;

        & .title-personajes{
            font-size: 2rem ;
        }

        & .content-personajes{
            font-size: 18px;
        }

        & .grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .personaje{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .personajes-ia{
        margin: 25% 5%;

        & .title-personajes{
            font-size: 2rem ;
        }

        & .content-personajes{
            font-size: 18px;
        }

        & .grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .personaje{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}

/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .personajes-ia{
        margin: 15% 5%;

        & .title-personajes{
            font-size: 3.2rem ;
        }

        & .content-personajes{
            font-size: 20px;
        }

        & .grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .personaje{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .personajes-ia{
        margin: 15% 5%;

        & .title-personajes{
            font-size: 3.2rem ;
        }

        & .content-personajes{
            font-size: 20px;
        }

        & .grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .personaje{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) {
    .personajes-ia{
        margin: 6% 5%;

        & .title-personajes{
            font-size: 4.2rem ;
        }

        & .content-personajes{
            font-size: 22px;
        }

        & .grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

            & .personaje{

                & .name{
                    font-size: 100%;

                    & h2{
                        font-size: 2rem;
                    }
                }

                & img{
                    width: 55%;
                }

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}











/* ////////// ////////// //////////     RESPONSIVIDAD EN LAS DEMAS PAGINAS ////////// ////////// //////////      */
/* ////////// ////////// //////////                  FOOTER                       ////////// ////////// //////////      */
/* Estilos para móviles */
@media (max-width: 577px) {
    footer {
        width: 100%;
        bottom: 0px;
        margin-top: 35%;
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 768px) {
    footer {
        width: 100%;
    }
}

/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    footer {
        width: 100%;
        bottom: 10%
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) {
    footer {
        width: 100%;
    }
}

