@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*, /*Resetear el css, quitar margi por defaul*/
*::before,
*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}

body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

:root /*Colores predeterminados*/
{
    --ceniza: #84a98c;
    --turq: #06d6a0;
    --green-light: #7acbcd;
    --black: #001219;
    --grey: #85888C;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: var(--black);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;/*Posicionar el menu delante de cualquier otro elemento*/
    border-bottom: .18rem solid #06d6a0;

}


.icon{
    display: flex;/*Alinea todos los elementos*/
    align-items: center;
    justify-content: center;/*Mover elementos al centro*/
    gap: 2.2rem;/*Espacio (separación) de elementos*/
}

.logo{/*icono de sitio*/
    margin-left: 1.2rem;
    width: 3rem;
}

.name-web{/*Nombre de la Pagina*/
    color: var(--turq);
    font-weight: 700;
    text-decoration: none; /*quitar subrayado de los enlaces $$$$$*/
}

.menu{
    width: 2rem;
}

.navigation ul{
    list-style: none;
}

.header .navigation ul li{ /*Afecta las listas*/
    float: left;
    position: relative;
}

.header .navigation ul li a{/*afecta los enlaces*/
    font-size: 16px;
    color: #f9f9f9;
    text-decoration: none; /*quitar subrayado de los enlaces*/
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover{
    background-color: var(--turq);
}

.header .navigation ul li ul{/*afecta las listas de las listas*/
    position: absolute;
    right: 0%;
    width: 300px;
    background-color: var(--grey);
    display: none;/*las listas de las listas no tendran un display*/
}

.header .navigation ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}

/*P%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%$#%#$%#$%$%$%#%#%%$#*/
/*Acomoda las listas de las listas de manera vertical, en formal ordenada*/
.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li{
    width: 100%;
}

.header .navigation ul li:hover > ul{
    display: initial; /*##Con este display las listas de las opciones aparecen##*/
}
/*P%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%$#%#$%#$%$%$%#%#%%$#*/

/*MENU*/
#toggle,
.header label{
    display: none;
    cursor: pointer;
}

.menu{
    width: 45px;
    height: 35px;
}

/*~~~~Concepto de primera pagina~~~~*/
.hero{
    margin: 10%;

    & #titulo{
        font-size: 3rem;
        text-transform: uppercase;
        word-spacing: 8px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }

    & #subtitle{
        font-size: 1.8rem;
        margin-bottom: 8px;
    }

    & #concept{
        margin: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img{
            width: 50%;
        }        
    }
}

/*HISTORIA DE LA IA*/
.historia{
    margin: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .title-historia{
        font-size: 3.3rem;
        text-transform: uppercase;
        word-spacing: 8px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }

    & p{
        font-size: 15px;
    }

    & .video-history{
        width: 60%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-bottom: 0;
        border: .2rem solid var(--ceniza);
    }

    & .dato{
        margin-top: 3rem;

        & h2{
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            font-style: oblique;
            color: var(--turq);
        }

        & h3{
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
        }

        & p{
            margin-top: 1rem;
            font-size: .9rem;
            padding: 0px 50px 0px 50px;
            text-align: center;
            font-style: italic;
        }

        & div{
            margin-top: 1.8rem;
            text-align: center;

            & img{
                width: 50%;
            }
        }
    }

    & .dato2{
        margin-top: 3rem;

        & h2{
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            font-style: oblique;
            color: var(--turq);
        }

        & h3{
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
        }

        & p{
            margin-top: 1rem;
            font-size: .9rem;
            padding: 0px 50px 0px 50px;
            text-align: center;
            font-style: italic;
        }

        & div{
            margin-top: 1.8rem;
            text-align: center;

            & img{
                width: 50%;
            }
        }
    }
    
}

/*IA DEBIL*/
.ia-debil{
    margin: 10%;

    & .title-debil{
        margin-bottom: 1rem;

        & h2{
            font-size: 3.3rem;
            text-transform: uppercase;
        }
    }
    
    & .content-debil{
        display: flex;
        align-items: center;
        justify-content: center;

        & p{
            font-size: 15px;
            margin-right: 1rem;
        }
    
        & img{
            width: 50%;

            
        }
    }
}

/*IA ROBUSTA*/
.ia-robusta{
    margin: 10%;

    & .title-robusta{
        margin-bottom: 1rem;

        & h2{
            font-size: 3rem;
            text-transform: uppercase;
        }
    }
    
    & .content-robusta{
        display: flex;
        align-items: center;
        justify-content: center;

        & p{
            font-size: 14.3px;
            margin-right: 1rem;
        }
    
        & img{
            width: 45%;
        }
    }
}

/*Codigo cerrado*/
.cod-cerrado{
    margin: 10% 6%;
        
        & .title-cerrado{
            font-size: 3rem;
            text-transform: uppercase;
        }

        & .subtitle-cerrado{
            font-size: 2.2rem;
        }

        & #parrafo1{
            margin: 1.5rem 0rem;
        }

        & #parrafo2{
            margin: .3rem 0rem;
        }

        & #list-cerrado{
            margin: 1rem 3rem;

            & li{
                margin: 1.2rem 0rem;
            }
        }

        & #parrafo3{
            margin: 1.5rem 0rem;
        }

    & .grid-cerrado{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

        & .cerrado{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1.2rem;
            background-color: var(--black);
            border: 3px solid white;
            border-radius: 1rem;

/**/
            & .name{
                background-color: var(--black);
                border: 2px solid white;
                color: var(--turq);
                border-radius: .7rem;
                -webkit-text-stroke: .1rem black;
            }

            & img{
                width: 50%;
                margin: 10px 0px;
            }

            & #len-R{
                width: 60%;
                height: 45%;
            }

            & p{
                font-size: 13px;
                text-align: center;
                color: white;
                -webkit-text-stroke: .1px black;
            }
        }
    }
}

/*CODIGO ABIERTO````*/
.cod-abierto{
    margin: 10% 6%;
        
        & .title-abierto{
            font-size: 3rem;
            text-transform: uppercase;
        }

        & .subtitle-abierto{
            font-size: 2.2rem;
        }

        & #parrafo1{
            margin: 1.5rem 0rem;
        }

        & #parrafo2{
            margin: .3rem 0rem;
        }

        & #list-abierto{
            margin: 1rem 3rem;

            & li{
                margin: 1.2rem 0rem;
            }
        }

        & #parrafo3{
            margin: 1.5rem 0rem;
        }

    & .grid-abierto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

        & .abierto{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1.2rem;
            background-color: var(--black);
            border: 3px solid white;
            border-radius: 1rem;

/**/
            & .name{
                background-color: var(--black);
                border: 2px solid white;
                color: var(--turq);
                border-radius: .7rem;
                -webkit-text-stroke: .1rem black;
            }

            & img{
                width: 50%;
                margin: 10px 0px;
            }
            
            /*
            & #len-R{
                width: 60%;
                height: 45%;
            }
            */

            & p{
                font-size: 13px;
                text-align: center;
                color: white;
                -webkit-text-stroke: .1px black;
            }
        }
    }
}

/*INTELIGENCIA ARTIFICIAL EN LA EDUCACION*/
.educativo{
    margin: 10%;

    & .title-educacion{
        font-size: 3.2rem;
        text-transform: uppercase;
    }

    & #concept-edu{
        margin: 1.5rem 0rem;
    }

    & .list-educacion{
        margin: 1rem 3rem;

        & div{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            & li{
                margin: 1.2rem 0rem;
                
            }

            & img{
                width: 45%;

            }
        }
    }

}


/*IA Industrial*/
.laboral{
    margin: 10%;

    & .title-laboral{
        font-size: 3.2rem;
        text-transform: uppercase;
    }

    & #concept-lab{
        margin: 1.5rem 0rem;
    }

    & .list-laboral{
        margin: 1rem 3rem;

        & div{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            & li{
                margin: 1.2rem 0rem;
                
            }

            & img{
                width: 45%;

            }
        }
    }

}


/*ENTRETENIMIENTO*/
.entretenimiento{
    margin: 10%;

    & .title-entre{
        font-size: 3.2rem;
        text-transform: uppercase;
    }

    & #concept-entre{
        margin: 1.5rem 0rem;
    }

    & .list-entre{
        margin: 1rem 3rem;

        & div{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            & li{
                margin: 1.2rem 0rem;
                
            }

            & img{
                width: 45%;

            }
        }
    }

}

/*PERSONAJES DESTACADOS*/
.personajes-ia{
    margin: 10%;

    & .title-personajes{
        font-size: 3.3rem;
        text-transform: uppercase;
    }

    & .content-personajes{
        font-size: 16px;
        margin-right: 1rem;
    }
    
    & .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

        & .personaje{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1.2rem;
            background-color: var(--black);
            border: 3px solid white;
            border-radius: 1rem;
/**/
            & .name{
                background-color: var(--black);
                border: 2px solid white;
                color: var(--turq);
                border-radius: .7rem;
                -webkit-text-stroke: .1rem black;
            }

            & img{
                width: 50%;
                margin: 10px 0px;
                border: 4px solid white;
            }

            & p{
                font-size: 13px;
                text-align: center;
                color: white;
                -webkit-text-stroke: .1px black;
            }
        }
    }
}

.map-sitio{
    margin: 10%;
    
    & h2{
        font-size: 3rem;
    }

    & ul{
        margin-top: 1rem;

        & li{
            margin: 1rem;
        }
    }
}

.footer {
    padding: 1.5rem 0;/*espacio por dentro*/
    margin-top: .3rem;/*espacio por fuera*/
    text-align: justify;
    background-color: var(--black);
    color: var(--turq);
    font-size: 1rem;
    text-align: center;
}

/*###########################################*/
/*###########################################*/
/*###########################################*/
/*###########################################*/
/*###########################################*/
/*###########################################*/
/*~~~~~~~MEDIA QUERY----RESPONSIVIDAD~~~~~~~*/

/*Barra de navegación*/
@media(max-width: 950px){
    .header label{
        display: initial;
    }

    .header{
        padding: 20px 10%;
    }

    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }

    .header .navigation ul li{
        width: 100%;
    }

    .header .navigation ul li a{
        padding:  8px 30px 8px 10%;
    }

    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0%;
    }

    .header .navigation ul li ul li{
        background-color: rgba(1, 1, 1, 0.7);
    }

    .header .navigation ul li ul li{
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked ~ .navigation{
        display: block;
    }
}


/*Que es la IA*/
@media screen and (max-width: 950px){
    .hero #titulo{
        margin-top: 8rem;
        font-size: 2.4rem;
    }

    .hero #subtitle{
        font-size: 1.4rem;
    }
    .hero p{
        font-size: 13px;
    }

    .hero #concept img{
        width: 80%;
    }

    @media (min-width: 640px) and (max-width: 1380px){
        .hero #concept img{
            width: 75%;
            margin-top: .8rem;
        }
    }
}

/*HISTORIA DE IA*/
@media only screen and (max-width: 950px){
    .historia {
        margin: 10% 8%;
        margin-top: 8rem;

        & p{
            font-size: 16px;
            float: left;
        }
    }
    .title-historia {
        font-size: 2rem;
    }
    
    .video-history {
        width: 100%;
    }
    
    .dato, .dato2 {
        margin-top: 2rem;
    }
}

/*INTELIGENCIA ARTIFICIAL DEBIL*/
@media (max-width: 950px){
    .ia-debil{
        margin: 35% 10%;
        display: flex;
        flex-direction: column;
        
        & .title-debil{
            & h2{
                font-size: 2rem;
            }
        }

        & .content-debil{
            flex-direction: column;

            & p{
                font-size: 18px;
                float: initial;
            }

            & img{
                width: 80%;
                margin: 10% 0px;
            }
        }
    }
    /*
    .title-debil{
        margin: 30%;
        font-size: 3rem;
    }

    .content-debil{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    */
}

/*INTELIGENCIA ARTIFICIAL ROBUSTA*/
@media (max-width: 950px){
    .ia-robusta{
        margin: 35% 10%;
        display: flex;
        flex-direction: column;
        
        & .title-robusta{
            & h2{
                font-size: 2rem;
            }
        }

        & .content-robusta{
            flex-direction: column;

            & p{
                font-size: 18px;
                float: initial;
            }

            & img{
                width: 80%;
                margin: 10% 0px;
            }
        }
    }
}

/*LENGUAJES DE CODIGO CERRADO*/
@media (max-width: 950px){
    .cod-cerrado{


        & .title-cerrado{
            margin-top: 8rem;
            font-size: 2rem;
        }

        & .subtitle-cerrado{
            font-size: 1.3rem;
        }

        & p{
            font-size: 18px;
        }

        & li{
            font-size: 18px;
        }

        & .grid-cerrado{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .cerrado{
                margin: 1.2rem 0%;
                width: 100%;

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}

/*Programacion ABIERTO~~~~~~~*/
@media (max-width: 950px){
    .cod-abierto{


        & .title-abierto{
            margin-top: 8rem;
            font-size: 2rem;
        }

        & .subtitle-abierto{
            font-size: 1.3rem;
        }

        & p{
            font-size: 18px;
        }

        & li{
            font-size: 18px;
        }

        & .grid-abierto{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .abierto{
                margin: 1.2rem 0%;
                width: 90%;

                & p{
                    font-size: 16px;
                }
            }
        }
    }
}


/*Personajes Destacados*/
@media (max-width: 950px){
    .personajes-ia{

        & .title-personajes{
            margin-top: 8rem;
            font-size: 2.5rem;
            text-align: center;
        }

        & .content-personajes{
            font-size: 14px;
        }
    }
}
/*
@media (max-width: 960px){
    .title-personajes{
        margin-top: 8rem;
        font-size: 1rem;
    }

    .content-personajes{
        font-size: 1.4rem;
    }
}
*/


/*EDUCACION IA*/
@media (max-width: 950px){
    .educativo{

        & .title-educacion{
            margin-top: 8rem;
            font-size: 1.6rem;
        }

        & #concept-edu{
            font-size: 18px;
        }

        & .list-educacion{
            & div{
                margin-bottom: 2rem;
                & li{
                    font-size: 18px;
                }
    
                & img{
                    width: 93%;
                }
            }
        }
    }
}

/*IA INDUSTRIAL*/
@media (max-width: 950px){
    .laboral{

        & .title-laboral{
            margin-top: 8rem;
            font-size: 1.6rem;
        }

        & #concept-lab{
            font-size: 18px;
        }

        & .list-laboral{
            & div{
                margin-bottom: 2rem;
                & li{
                    font-size: 18px;
                }
    
                & img{
                    width: 93%;
                }
            }
        }
    }
}

/*ENTRETENIMEINTO*/
@media (max-width: 950px){
    .entretenimiento{

        & .title-entre{
            margin-top: 8rem;
            font-size: 1.6rem;
        }

        & #concept-entre{
            font-size: 18px;
        }

        & .list-entre{
            & div{
                margin-bottom: 2rem;
                & li{
                    font-size: 18px;
                }
    
                & img{
                    width: 86%;
                }
            }
        }
    }
}

/*Footer*/
@media (max-width: 0px){
    footer{
        position: absolute;
        bottom: 0%;
        width: 100%;
        margin-bottom: 0%;
        background-color: var(--black);
    }
}

@media (min-width: 1400px){
    footer{
        position: absolute;
        bottom: 0%;
        width: 100%;
        margin-bottom: 0%;
        background-color: var(--black);
    }
}


